@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

$blue: #79689B;

$primary: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$desktop-enabled: false;

@import '~bulma';