@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

$blue: #251A51;

$link: #3273dc;

$green:hsl(171, 100%, 41%);

$primary: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$desktop-enabled: false;

@import '~bulma';