body {
  font-size: 1.2rem;
  background-color: #f5f5f5;
  a {
    color: #3EAF7C;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}
.navbar
{
  background-color: transparent;
}

footer
{
  font-size: 0.9rem;
}
.fa-heart
{
  color: #ff4359 !important;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.navbar-icon
{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.team
{
  margin-top: 2.5rem !important;
}

.team .roles
{
  margin-top: 0.25rem !important;
}

.short-post{
  .content{
    max-height: 5rem;
    overflow-y: hidden;
  }
  .card {
    min-height: 24em;
    border-radius: .45714em;
    .card-image img {
      border-radius: .45714em .45714em 0 0;
      border-bottom: 1px solid rgba(42,42,42,.25);
    }
  }
  .footer-link{
    bottom:0.7em;
    position:absolute;
  }
}
.short-post-card {
  .card {
    min-height: 18em;
    border-radius: .45714em;
    .card-image img {
      border-radius: .45714em .45714em 0 0;
      border-bottom: 1px solid rgba(42,42,42,.25);
    }
    .subtitle {
      bottom: 1rem;
      right: 1rem;
      position: absolute;
    }
    .card-content{
      min-height: 10rem;
    }
  }
}
.short-post-card, .short-post {
  .card {
    &::after {
      border-radius: .45714em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }

    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);

      &::after {
        opacity: 1;
      }
    }
  }
}
.main-nav {
  border-color: #e9ecef;
  border-style: solid;
  margin-bottom: 2rem!important;
  border-width: 0;
  //border-top-width: 2px;
  //border-top-color: #79689B;
  border-bottom-width: 1px;
  padding-bottom: 1rem;
  background-color: #ffffff;
  box-shadow: 1px 0 2px 2px rgba(42,42,42,.25);
}
.navbar .navbar-brand img.logo {
  max-height: 5rem;
}
.title-box {
  margin: 3em 0;
  .title {
    margin: 0;
  }
}
section.bd-tws-home {
  padding-top: 0;
}

.tags {
  padding-top: 2em;
}
.inline_html {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.inline_html iframe,
.inline_html object,
.inline_html embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1, h2{
  .title {
    color: #251A51;
  }
  a {
    color: #251A51;
  }
}
.embedded_image {
  img {
    border: 2px solid #79689B;
  }
  p {
    text-align: center;
  }
}
.similar-title {
  border-top: 1px solid #e9ecef;
  padding-top: 3rem;
  margin-top: 3rem;
}
footer {
  background-color: #011627;
  background-image: linear-gradient(184deg,#061640,rgba(38,46,63,.72))!important;
  .footer-links{
    a {
      padding-right: 1rem;
    }
  }
}
.top-marginless {
  margin-top: 0;
}
.has-text-green {
  color: #68B281;
}
.has-text-orange {
  color:#F56850;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 8px 10px;
  border-bottom: 0.5px solid #F5F5F5;
  .short-desc {
    max-height: 3rem;
    overflow-y: hidden;
  }
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #F5F5F5;
  color: #3EAF7C;
}
.algolia-branding {
  font-size: 0.8em;
  margin: 0.5em 0.2em;
}
.algolia-branding img {
  height: 0.9em;
  margin-bottom: - 0.2em;
  margin-right: 0.4rem;
}
.page-content {
  min-height: 32.5rem;
}
.is-grey-lighter{
  background-color: #e1e1e1;
}
code {
  color:#79689B;
}
.navbar-item img {
  max-height: 2rem;
}
.login-image {
  width: 200px;
  height: 200px;
  margin-bottom: 0px!important;
}
#main-search {
  width: 23rem;
}
.is-pointer {
  cursor: pointer;
}